html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    background: url("https://images.hdqwalls.com/wallpapers/2020-the-boys-season-2-td.jpg");
    background-size: cover;
    overflow: overlay;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15%;
    box-shadow: 0 5px 15px rgba(5, 237, 254, 0.866);

}

.image_place {
    margin-left: 1.5em;
    margin-right: 2em;
    max-width: 100%;
}

.theboysbanner {
    width: 200px;
}

.menu_list {
    list-style-type: none;
    display: flex;
    flex-flow: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: .5s;
}

@font-face {
    font-family: "Charlie";
    src: url(fonts/Charliedontsurf.ttf) format('truetype');
}

.menu_list a {
    font-family: 'Charlie';
}

.video_and_story h1 {
    font-family: 'Charlie';
}

.video_and_story h2 {
    font-family: 'Charlie';

}

.list {
    padding: 30px 70px;
}

.list a {
    text-transform: uppercase;
    text-decoration: none;
    color: #1e0487;
    transition: .5s;
}

.video_and_story {
    width: 650px;
    height: 447px;
    margin-top: 2.5em;
    margin-left: 23em;
}

.video_and_story h1 {
    width: 380px;
    margin: 0 auto;
    color: #1e0487;
    margin-bottom: 10px;
}

.story {
    width: 800px;
    height: 800px;
    margin: 0 auto;
    text-align: center;
    font-family: 'Charlie';
    margin-top: 50px;
}

.story h3 {
    margin-top: 50px;
    font-size: -webkit-xxx-large;
}

.story p {
    color: rgb(17, 6, 224);
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
    margin-top: 9em;
}

.container img {
    width: 250px;
    height: 230px;
    margin-top: 40px;
    margin-left: 86px;
    border-radius: 10px;
}

.btn {
    position: absolute;
    top: 78%;
    left: 13%;
    background-color: #a62727;
    color: white;
    font-size: 16px;
    padding: 10px 23px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.btn1 {
    position: absolute;
    top: 78%;
    left: 39%;
    background-color: #a62727;
    color: white;
    font-size: 16px;
    padding: 10px 23px;
    border: none;
    cursor: pointer;
    border-radius: 5px; 
}

.btn2 {
    position: absolute;
    top: 78%;
    left: 61%;
    background-color: #a62727;
    color: white;
    font-size: 16px;
    padding: 10px 23px;
    border: none;
    cursor: pointer;
    border-radius: 5px; 
}

.btn3 {
    position: absolute;
    top: 78%;
    left: 87%;
    background-color: #a62727;
    color: white;
    font-size: 16px;
    padding: 10px 23px;
    border: none;
    cursor: pointer;
    border-radius: 5px; 
}